<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= result[0].title %></title>
  </head>
  <body>
    board detail page
    <h3>제목: <%= result[0].title %></h3>
    <h4>게시일: <%= result[0].date %></h4>
    내용: <p><%= result[0].text %></p>
  </body>
</html>
