<style>
.check_Content{
  text-align: center;
  width: 90%;
  height:100%;
  background-color: #fefefe;
  margin: auto;
  padding: 1%;
  border: 1px solid #888;
  border-radius: 5px;
}
.checkbtn{
  color: rgb(255, 255, 255);
  background-color:#5a95b1;
  border-color: #5a95b1;
  border-style: none;
  height: 38px;
  width: 80%;
  /* margin-top: 14%; */
  margin-bottom: 2%;
  border-radius: 2px;
}
.formModal{
  margin-bottom: 1%;
}
.checkbtn:hover{
  color: rgb(255, 255, 255);
  background-color:#5a95b1;
  border-color: #5a95b1;
  border-style: none;
}
#numberCheck {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  margin-left: 95%;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
table{
  width: 90%;
  margin-left: 5%;
  height: 90%;
}
#contentTable{
  border-bottom-color: white;
}
.titleDate{
  border-top-color: #469fbb;
  border-bottom-color: #469fbb;
  height: 7%;
  text-align: center;
}
#modalButtonDiv{
  display : flex;
 align-items : center;
  height: 100%;
}
#reformButton{
  width: 10%;
  height: 38px;
  color: rgb(255, 255, 255);
  border-color: #469fbb;
  border-style: none;
  background-color:#469fbb;
  margin-left: 39%;
}
#deleteButton{
  width: 10%;
  height: 38px;
  color: rgb(255, 255, 255);
  border-color: #469fbb;
  border-style: none;
  background-color:#469fbb;
  margin-left: 2%;
  display: table-cell;
  vertical-align: center;
}
#content{
  height:50%;
  border-bottom-color: white;
}
#BoardModalContent{
  font-size: 9px;
}
#BoardModalContentArea{
  background-color: white;
  font-size: 9px;
}
@media all and (orientation:portrait){
  #deleteButton,#reformButton{
    width: 20%;
  }
  #reformButton{
    margin-left: 29%;
  }
  #numberCheck {
    padding-top: 20%; /* Location of the box */
  }
}
@media screen and (min-width:750px) and (max-width:1080px){
  #BoardModalContent{
    font-size: 12px;
  }
  #BoardModalContentArea{
    font-size: 12px;
  }
}
@media screen and (min-width:1081px) and (max-width:1600px){
  #BoardModalContent{
    font-size: 14px;
  }
  #BoardModalContentArea{
    font-size: 14px;
  }
}
@media screen and (min-width:1601px) and (max-width:1920px){
  #BoardModalContent{
    font-size: 16px;
  }
  #BoardModalContentArea{
    font-size: 16px;
  }
}

@media screen and (min-width:1921px) and (max-width:2560px){
  #BoardModalContent{
    font-size: 20px;
  }
  #BoardModalContentArea{
    font-size: 20px;
  }
}
@media screen and (min-width:2561px){
  #BoardModalContent{
    font-size: 25px;
  }
  #BoardModalContentArea{
    font-size: 25px;
  }

}
</style>
<table id="BoardModalContent">
  <tr>
    <td class="titleDate">제목</td>
      <td class="titleDate"><%= rows[0].title %></td>
      <td class="titleDate">게시일</td>
      <td class="titleDate"><%= rows[0].date %></td>
  </tr>
  <tr>
    <td id="contentTable" colspan="4" style="height:7%">내용</td>
  </tr>
  <tr>
    <td id="content"colspan="4"><textarea  readonly="readonly" id="BoardModalContentArea"style="height:100%"class='form-control' rows='15' ><%= rows[0].text %></textarea></td>
  </tr>
</table>

<div id="modalButtonDiv">
  <input type='button' name='write' value='수정'id='reformButton'class="form-control"></input>
    <input type='button' name='write' value='삭제' id='deleteButton'class="form-control"></input>
</div>

<div id="numberCheck2">
  <div class="check_Content">
    <span id="checkClose"class="Close">&times;</span>
    <label></label>
    <div class="formModal">
      <div class="col-sm-12">
        <input  type="password"class='form-control' rows='1' id="checkPassword" placeholder="비밀번호를 입력해주세요."></input>
      </div>
    </div>
    <button  type="button" id="okay_btn" style="margin : 20%;">확인</button>
  </div>
</div>
<script>
var deletebtn = document.getElementById('deleteButton');
var numberCheck2 = document.getElementById('numberCheck2');
var checkClose = document.getElementById('checkClose');
var passwordCheck=document.getElementById("checkPassword");
var ok = document.getElementById('okay_btn');
var passwordCheck=document.getElementById("checkPassword");

deletebtn.onclick=function(){
  console.log('ok');
  numberCheck2.style.display = "block";

  checkClose.onclick=function(){
    numberCheck2.style.display="none";
  };

  if (event.target == numberCheck2) {
    numberCheck2.style.display="none";
  };

  $('#numberCheck2').keypress(function(event){
    console.log('ok');
   if ( event.which == 13 ) {
       $('#okay_btn').click();
       return false;
   }
  });
  ok.onclick=function(){
    alert('press ok');
    var password=passwordCheck.value;

    var data = {
      'Password': password
      // 'title' : title
    }
    // console.log(data);
    $.ajax({
      type: "POST",
      url: "/check/goCheck",
      contentType: "application/x-www-form-urlencoded; charset=UTF-8",
      cache: false,
      datatype: "json", // expecting JSON to be returned
      data: data,
      success: function(result) {
        $.ajax({
          type : "get",
            url : "/board/goCheckk/:id",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            cache: false,
            datatype: "json", // expecting JSON to be returned
            success : function(){
              if(result['results']==100){
                alert('삭제완료');
                $(window).attr('location','/board/1');

            }else {
              alert('비밀번호가 일치하지 않습니다.');
              passwordCheck.value="";
            }
            }
        })
      },
    })
  }
};
</script>
