<html>
<head>
  <mete charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css"></link>
    <link rel="stylesheet" href="/stylesheets/applyform.css"></link>
    <!-- [if It IE 9]>
    <script src="html5shiv.js"></script>
    <script src="respond.js"></script>
    <![endif]-->
    <!-- 익스플로우 8이하에는 html5와 css3를 지원하지 않기 때문에 우리가 사용하는 부트스트랩이 적용이 안되기 때문에 익스플로우 9
    미만일시 부트스트랩을 사용할수 있게 해주는 js파일들을 연결 -->
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type='text/javascript' src='/javascripts/apply_javascript.js'></script>
    <script src="/javascripts/color.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <script>
    </script>
    <div class="header">
      <div class="header_Container container-fluit">
        <div class="introduce">
          <div class="logo">
            <img id="logoM" src="/images/logoBlackM.png" width="100%" height="auto"></img>
            <img id="logo" src="/images/logoBlack.png" width="100%" height="auto"></img>
            <img id="logoBig" src="/images/logoBlackBig.png" width="100%" height="auto"></img>
          </div>
          <nav>
            <div class="menu"><b>동아리 소개</b></div>
            <div class="menu"><b>주요 활동</b></div>
            <div class="menu"><b>공지 사항</b></div>
            <div class="menu"><b>지원 하기</b></div>
          </nav>
</div>
</div>
<div class="container-fluit">
  <div class="header_Button">
    <div class="button_Row row">
      <div class="button" id="introButton">
        <p id="aboutOYR">About OYR</p>
        <p id="aboutOYR_content">Open Year Round는 자신이 원하는 웹서비스를 개발하는 목표를 갖는 동아리입니다.</p>

      </div>

      <div class="button" id="actButton">
        <p class="mainAct">주요 활동</p>
        <img id="mainPagePhoto"src="/images/all.JPG"></img>
        <p id="subActContent">2014-2017동아리 연혁</br>Open Year Round에서 개발 된 Web Services</p>

      </div>

      <div class="button" id="noticeButtonM">
        <p class="buttonMobile">공지 사항</p>
      </div>

      <div class="button" id="supportButton">
        <div class="supportImage">
      <p class="applyText"><b>2018년도</br>신입부원</br>모 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;집</b></p>
      <p id="applyDate"> <b>2018.3.2~3.11</b></p>
      <button class="applyWirteButton">지원서 작성하기</button>
      </div>
      </div>
    </div>
  </div>
</div>
<div id="moveTopDiv">
  <img class="moveTop" src="/images/doubleup.png"></img>
</div>
</div>

<div class="act_Container container-fluit" id="act_Container_Id">
  <div id="actTop">
    <img id="actImage"src='/images/mainActImage2.png' width="100%" height="auto"></img>
    <img id="actImageM"src='/images/mainActImage.png' width="100%" height="auto"></img>
</div>
  <div id="history">

    <img id="bar"style="vertical-align:middle" src="/images/bar.jpg">
 <span id="historyContent">동아리 연혁</span>
  </div>
  <div id="award">
<table>
  <tbody>
    <tr>
      <td class="year">2017</td><td class="awardContent">아동 노동 착취 관련 웹 게임 <b>Dawson's Daily Life</b>, 2017 교내 학술제 입상</br>도서교환 웹서비스 <b>도서로</b>, 2017 교내 학술제 입상</br>편집 에디터 <b>마이노트</b>, 2017 교내 학술제 입상</td><td rowspan="2"><img src="/images/award.jpg"></img></td>
    </tr>
    <tr>
      <td class="year">2016</td><td class="awardContent">브라우저 탭 통합 서비스 <b>TabStorage</b>, 2016 교내 학술제 입상</br>서울시 물가비교 쇼핑 어플 <b>PricePlace</b>, 2016 교내 학술제 2위</td>
    </tr>
    <tr>
      <td class="year">2015</td><td class="awardContent">강의평가, 시간표 짜기 어플 <b>아뭐듣지</b>, 2015(등록된 시간표 수 1400개)</br>동물병원 추천 플랫폼 <b>Keepet</b>, 2015 교내 학술제 수상</td><td rowspan="2"><img src="/images/all.JPG"></img></td>
    </tr>
    <tr>
      <td class="year">2014</td><td class="awardContent">현재 날씨에 어울리는 음악추천 <b>WeatherMusic</b>, 2014 청년창업기상기후산업 기상청장상</br>오늘의 자외선, 2014(기상청 추천 앱 등록)</br>뉴스 요약 어플 <b>그래서 오늘은</b>, 2014 정주영 창업경진대회 해커톤 2위</br>대학생 이상형 월드컵 <b>Fethering</b>, 2014(venture square 2014 5월의 아이템 선정)</td>
    </tr>
  </tbody>
</table>
<!-- <div id="images">
  <div> -->
</div>
</div>
</div>
<div class="introduce_Container container-fluit">
  <div class="introBox"><img src="/images/ssn.jpg" width="100%" height="auto"></img></div>
  <div class="introBox"><img src="/images/cir.jpg" width="100%" height="auto"></img></div>
  <div class="introBox"><img src="/images/mem.jpg" width="100%" height="auto"></img></div>
  <div class="introBox"><img src="/images/loca.jpg" width="100%" height="auto"></img></div>
  <div class="introBox"><img src="/images/rec.jpg" width="100%" height="auto"></img></div>
</div>
<div class="apply_Container container"><!--지원 div-->
  <div id='body_container'>
    <div class="container">
      <form class="form-horizontal" role="form">
        <h2>지원서</h2>
        <div class="form-group">
          <label for="firstName" class="col-sm-3 control-label">이름</label>
          <div class="col-sm-9">
            <input type="text" id="name" placeholder="ex) 홍길동" class="supportForm form-control" autofocus>
          </div>
        </div>
        <div class="form-group">
          <label for="firstName" class="col-sm-3 control-label">학과</label>
          <div class="col-sm-9">
            <input type="text" id="major" placeholder="ex) 컴퓨터공학과" class="supportForm form-control" autofocus>
          </div>
        </div>
        <div class="form-group">
          <label for="firstName" class="col-sm-3 control-label">학번</label>
          <div class="col-sm-9">
            <input type="text" id="student_number" placeholder="ex) 18011234" class="supportForm form-control" autofocus>
          </div>
        </div>
        <div class="form-group">
          <label for="firstName" class="col-sm-3 control-label">학년-학기</label>
          <div class="col-sm-9">
            <input type="text" id="grade" placeholder="ex) 3-2" class="supportForm form-control" autofocus>
          </div>
        </div>
        <div class="form-group">
          <label for="firstName" class="col-sm-3 control-label">연락처</label>
          <div class="col-sm-9">
            <input type="text" id="phone_number" placeholder="ex) 010 1111 1111" class="supportForm form-control" autofocus>
          </div>
        </div>
        <div class="form-group">
          <label for="firstName" class="col-sm-3 control-label">이메일</label>
          <div class="col-sm-9">
            <input type="text" id="email" placeholder="ex) abcd@naver.com" class="supportForm form-control" autofocus>
          </div>
        </div>
        <div class="form-group">
          <label for="firstName" class="col-sm-3 control-label">거주지</label>
          <div class="col-sm-9">
            <input type="text" id="home" placeholder="ex) 서울시 광진구" class="supportForm form-control" autofocus>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">성별</label>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-3">
                <label class="radio-inline">
                  <input type="radio" name='gender' value="남">남
                </label>
              </div>
              <div class="col-sm-3">
                <label class="radio-inline">
                  <input type="radio" name='gender'value="여">여
                </label>
              </div>
            </div>
          </div>
        </div> <!-- /.form-group -->
        <div class="form-group">
          <label class="control-label col-sm-9">군필여부 (해당사항이 없으신 분들은 체크 안해주시면 됩니다.)</label>
          <div class="col-sm-9">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="milcheck" value="Low calorie">군필
              </label>
            </div>
          </div>
        </div> <!-- /.form-group -->
        <div class="form-group">
          <label class="control-label col-sm-3">지원 동기</label>
          <div class="col-sm-12">
            <textarea class='form-control' rows='7' id='apply_reason' placeholder="200자 내외로 작성해주세요."></textarea>
          </div>
        </div> <!-- /.form-group -->
        <div class="form-group">
          <label class="control-label col-sm-3">프로젝트 경험</label>
          <div class="col-sm-12">
            <textarea class='form-control' rows='7' id='project' placeholder="큰 프로젝트가 아니라 수업시간을 통한 사소하고 작은 경험도 괜찮습니다. 프로젝트 경험이 없으면 없다고 적어주세요."></textarea>
          </div>
        </div> <!-- /.form-group -->
        <div class="form-group">
          <label class="control-label col-sm-5">만들고 싶은 서비스</label>
          <div class="col-sm-12">
            <textarea class='form-control' rows='7' id='want_service' placeholder="200자 내외로 작성해주세요."></textarea>
          </div>
        </div> <!-- /.form-group -->
        <div class="form-group">
          <div class="col-sm-12 col-sm-offset-3">
            <button type="button" class="btn btn-primary btn-block" id='applyButton'>지원하기</button>
          </div>
        </div>
      </form> <!-- /form -->
    </div> <!-- ./container -->
  </div>
</div>
<div class="notice_Container container"><!--게시판 div-->
  <div class="box" id="note1">
    <div id="first_area"></div>
    <div id="main_area">
      <table class="board">
        <thead>
          <tr>
            <td id="first_td">게시글번호</td>
            <td id="second_td">글제목</td>
            <td id="third_td">작성일자</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% for (var i=0;i<board.length;i++) {%>
            <td>
              <%= i+1 %>
            </td>
            <td>
              <%=board[i].title%>
            </td>
            <td>
              <%=board[i].date%>
            </td>
          </tr>
          <% } %>
          </tbody>
          <div id="numberCheck">
            <div class="check_Content">
              <span id="checkClose"class="Close">&times;</span>
                <label></label>
              <div class="formModal">
                <div class="col-sm-12">
                  <input type="password"class='form-control' rows='1' id="checkPassword" placeholder="비밀번호를 입력해주세요."></input>
                </div>
              </div>
              <button type="button" class="checkbtn btn-primary btn-block" id='ok_button_on_board'>확인</button>
            </div>
          </div>

          <div id="textUpload">
            <div class="modal-content">
              <span id="uploadClose"class="Close">&times;</span>
              <div class="form-group">
                <label class="control-label col-sm-3">제목</label>
                <div class="col-sm-12">
                  <textarea class='form-control' rows='1' id='title_name' placeholder="제목을 적어주세요."></textarea>
                </div>
              </div> <!-- /.form-group -->
              <div class="form-group">
                <label class="control-label col-sm-5">내용</label>
                <div class="col-sm-12">
                  <textarea class='form-control' rows='7' id='contents' placeholder="200자 내외로 작성해주세요."></textarea>
                </div>
              </div> <!-- /.form-group -->
              <button type="button" class="uploadbtn btn-primary btn-block" id='ok_button_on_board'>올리기</button>
            </div>
          </div>
        </tbody>
      </table>

      <input type='button' name='write' value='글쓰기' id='writeButton'></input>
    </div>
  </div>
</div>
<script src="/javascripts/main.js"></script>
</body>
</html>
