<html>
<head>
  <mete charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css"></link>
    <!-- [if It IE 9]>
    <script src="html5shiv.js"></script>
    <script src="respond.js"></script>
    <![endif]-->
    <!-- 익스플로우 8이하에는 html5와 css3를 지원하지 않기 때문에 우리가 사용하는 부트스트랩이 적용이 안되기 때문에 익스플로우 9
    미만일시 부트스트랩을 사용할수 있게 해주는 js파일들을 연결 -->
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="header">
      <div class="header_Container container-fluit">
        <div class="introduce">
          <div class="row">
            <div class="mente col-md-12">
              <p id="mente"><small>내가 만들고 싶은 </small>웹사이트<small>를 만드는</br> </small>웹 스터디<small> 동아리 </small></p>
            </div>
          </div>
          <div class="row">
            <div class="logo col-md-12 hidden-xs">
              <img id="logo" src="/images/logo.png" width="20%" height="auto"></img>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="header_Button">
          <div class="button_Row row">
            <div class="button col-md-3" id="button1">
              <h4 class="header_Text">동아리</br>활동</h4>
            </div>
            <div class="button col-md-3" id="button2">
              <h4 class="header_Text">동아리</br>소개</h4>
            </div>
            <div class="button col-md-3" id="button3">
              <h4 class="header_Text">동아리</br>지원</h4>
            </div>
            <div class="button col-md-3" id="button4">
              <h4 class="header_Text">동아리</br>게시판</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="act_Container container-fluit" id="act_Container_Id">
      <img src="/images/award.jpg" width="100%" height="auto"></img>
      <img src="/images/record.jpg" width="100%" height="auto"></img>
      <img src="/images/website.jpg" width="100%" height="auto"></img>
    </div>
    <div class="introduce_Container container-fluit">
      <div class="introBox"><img src="/images/ssn.jpg" width="100%" height="auto"></img></div>
      <div class="introBox"><img src="/images/intro.jpg" width="100%" height="auto"></img></div>
      <div class="introBox"><img src="/images/cir.jpg" width="100%" height="auto"></img></div>
      <div class="introBox"><img src="/images/mem.jpg" width="100%" height="auto"></img></div>
      <div class="introBox"><img src="/images/loca.jpg" width="100%" height="auto"></img></div>
      <div class="introBox"><img src="/images/rec.jpg" width="100%" height="auto"></img></div>
    </div>
    <div class="apply_Container container"><!--지원 div-->
    </div>
    <div class="notice_Container container"><!--게시판 div-->
      <div class="box" id="note1">
    <div id="first_area"></div>
    <div id="main_area">
      <table class="board">
        <thead>
              <tr>
                <td id="first_td">게시글번호</td>
                <td id="second_td">글제목</td>
                <td id="third_td">작성일자</td>
             </tr>
            </thead>
            <tbody>

            </tbody>
      </table>
      <input type='button' name='write' value='글쓰기' id='writeButton'>
    </div>
  </div>

    </div>
<script src="/javascripts/main.js"></script>
  </body>
  </html>
