<html>
<head>
  <mete charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0, user-scalable=no, target-densitydpi=medium-dpi" />
    <link rel="stylesheet" href="/stylesheets/login.css"></link>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/javascripts/login.js"></script>
    <title><%= title %></title>
  </head>
  <body ondragstart = "return false">
    <div class="login_Container container-fluit">

      <div class="vertical-Helper">
        <div class="vertical-Middle-Helper">
          <div id="loginDiv" class="bgBlur">
            <p id="mainWelcom">Welcome!</p>
            <p id="subWelcom">Login to OYR site</p>
            <div class="loginForm">
              <div id="loginContentDiv">
                <label>ID</label>
                <input class="loginInput" name="idV"type="text" id="login_id"></input>
                <label>PASSWORD</label>
                <input class="loginInput" name="pwV"type="password" id="login_password"></input>
              </div>
              <div id="loginButtonDiv">
                <button id="loginButton">로그인</button>
              </div>
            </div>

            <p id="bottomText">@openyearround</p>
          </div>
        </div>
      </div>

      <div id="moveHomeDiv">
        <img class="moveHome" src="/images/home.png"></img>
      </div>
    </div>
    <script>
    $('.moveHome').click(function(){
      $(window).attr('location','/');
    });
    </script>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <filter id="blur">
        <feGaussianBlur stdDeviation="6" />
      </filter>
    </svg>
  </body>
  </html>
