<html>
<head>
  <mete charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0, user-scalable=no, target-densitydpi=medium-dpi" />
    <link rel="stylesheet" href="/stylesheets/login.css"></link>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <title><%= title %></title>
  </head>
  <body ondragstart = "return false">
    <div class="login_Container container-fluit">

        <div class="vertical-Helper">
          <div class="vertical-Middle-Helper">
                <div id="loginDiv">
                  <p id="mainWelcom">Welcome!</p>
                  <p id="subWelcom">Login to OYR site</p>
        <form>
            <div id="loginContentDiv">
              <label>ID</label>
              <input class="loginInput" name="idV"type="text"></input>
              <label>PASSWORD</label>
              <input class="loginInput" name="pwV"type="password"></input>
            </div>
            <div id="loginButtonDiv">
              <button id="loginButton" type="submit">Login</button>
            </div>
        </form>

        <p id="bottomText">@openyearround</p>
      </div>
</div>
</div>
    </div>
    <script>
    $('.moveHome').click(function(){
      $(window).attr('location','/');
    });
    </script>
  </body>
  </html>
