#main_area{
  margin-top: 5%;
}
table.board{
  /* margin-left: 15%; */
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  width: 100%;
}
#noticeImageM{
  display: none;
}
tbody{
  color: #444444;
}

table.board thead td {
  vertical-align: middle;
  color: #469fbb;
  text-align: center;
  padding: 1%;
  border-top: #469fbb;
  border-top-style: solid;
  border-bottom: #eaeaea;
  border-bottom-style:solid;
  border-bottom-width: 2px;
}
tbody td{
  border-top-style: solid;
  border-bottom-style:solid;
  border-color: #eaeaea;
  border-width: 2px;
}
td a{
  color: #636363;
}
td a:hover{
  color: #636363;

}
#pageBoard{
  padding: 3%;
  border-bottom-style:none;
  color: #636363;
}
#first_td{
  width: 20%;
}
#contentTitle{
  text-align: left;
}
#second_td{
  width:60%;
}
#third_td{
  width: 20%;
}
#writeButton
{
  margin-bottom: 5%;
  border-radius: 2px;
  float: right;
  height: 38px;
  color: rgb(255, 255, 255);
  border-color: #469fbb;
  border-style: none;
  background-color:#469fbb;
  width: 13%;
  position: relative;
}
#writeButton:hover,#ok_button_on_board:hover, .checkbtn:hover{
  cursor: pointer;
}
#ok_button_on_board{
  color: rgb(255, 255, 255);
  background-color:#5a95b1;
  border-color: #5a95b1;
  border-style: none;
  height: 38px;
  width: 85%;
  margin-left: 7.5%;
  border-radius: 2px;
}
.moveTop:hover{
  cursor: pointer;
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
.moveTop {
  position: fixed;
  top: 85%;
  right: 5%;
  width: 4%;

}
.checkbtn{
  color: rgb(255, 255, 255);
  background-color:#5a95b1;
  border-color: #5a95b1;
  border-style: none;
  height: 38px;
  width: 85%;
  margin-top: 4%;
  margin-left: 7.5%;
  margin-bottom: 2%;
  border-radius: 2px;
}
.formModal{
  margin-bottom: 1%;
}
.checkbtn:hover{
  color: rgb(255, 255, 255);
  background-color:#5a95b1;
  border-color: #5a95b1;
  border-style: none;
}
#numberCheck {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}
#textUpload {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 2%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.check_Content{
  text-align: center;
  width: 40%;
  background-color: #fefefe;
  margin: auto;
  padding: 1%;
  border: 1px solid #888;
  border-radius: 5px;
}
#search{
  display: inline-flex;
  text-align: center;
  width: 100%;
  margin-top: 8%;
}
#searchForm{
  width: 40%;
  margin-left: 23.5%;
  margin-right:1%;
}
#searchButton{
  border-radius: 2px;
  text-align: center;
  width: 12%;
  background-color: #469fbb;
  border-color: #469fbb;
  color: white;
  border-style: none;
}
#searchButton:hover{
  cursor: pointer;
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 5px;
}

.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  margin-left: 95%;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
footer{
  background-color: black;
  color: white;
  width: 100%;
  height: 20%;
  display: table;
  text-align: center;
}
.footerContent{
  display: table-cell;
  vertical-align: middle;
  padding: 2%;
}
.footerBigContent{
  font-size: 9px;
  margin-bottom: 1%;
}
.footerSamllContent{
  margin-bottom: 0;
  font-size: 7px;
}
@media all and (orientation:portrait){
  .moveTop{
    display: none;
  }
  .check_Content{
    width: 70%;
  }
  #noticeImageM{
    display: block;
  }
  #noticeImage{
    display: none;
  }
  footer{
    height: 15%;
  }
  #searchButton{
    width: 17%;
  }
  #writeButton{
    width: 20%;
  }
  #searchForm{
    width: 50%;
    margin-left: 16%;
  }
  #numberCheck {
    padding-top: 20%; /* Location of the box */
  }
  #textUpload {
    padding-top: 5%; /* Location of the box */
  }

}
@media screen and (min-width:750px) and (max-width:1080px){
  .check_Content{
    width: 35%;
  }
  .footerBigContent{
    font-size: 16px;
  }
  .footerSamllContent{
    font-size: 10px;
  }
}
@media screen and (min-width:1081px) and (max-width:1600px){
  .check_Content{
    width: 30%;
  }
  .footerBigContent{
    font-size: 20px;
    margin-bottom: 1%;
  }
  .footerSamllContent{
    margin-bottom: 0;
    font-size: 13px;
  }
}
@media screen and (min-width:1601px) and (max-width:1920px){
  .check_Content{
    width: 30%;
  }
  .footerBigContent{
    font-size: 23px;
  }
  .footerSamllContent{
    font-size: 18px;
  }
  /* #utton{
  font-size: 20px;
  } */
}

@media screen and (min-width:1921px) and (max-width:2560px){
  .check_Content{
    width: 20%;
  }
  .footerBigContent{
    font-size: 30px;
  }
  .footerSamllContent{
    font-size: 24px;
  }
}
@media screen and (min-width:2561px){

  .check_Content{
    width: 15%;
  }
  .footerBigContent{
    font-size: 42px;
  }
  .footerSamllContent{
    font-size: 36px;
  }
}
