
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 800;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}

@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}

@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 200;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}

html,body{
  font-family: 'LotteMartDream', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-weight: 900;
}

.vertical-Helper{
  width: 100%;
  height: 100%;
  display: table;
}

.vertical-Middle-Helper{
  display: table-cell;
  vertical-align: middle;
}
#loginDiv{
width: 45%;
height: 80%;
/* background: #fcfcfc; */
background-image: url('/images/white.jpg');
background-size: cover;
background-repeat: no-repeat;
margin-left: 27.5%;
opacity: 0.94;
}
/* .bgBlur:before {
  content: '';
  background: inherit;
  z-index:-1;
  filter: blur(30px);
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  filter:url(#blur);
} */
#loginContentDiv{
  width: 60%;
  padding-left: 20%;
}
#loginButtonDiv{
  width: 80%;
  padding-left: 20%;
}
#loginButton{
  width: 30%;
  margin-top: 5%;
  height: 8%;
  background-color: #469fbb;
  border-color: #469fbb;
  border-radius: 3px;
  border-style: none;
  color: white;
}
#loginButton:hover{
  cursor: pointer;
}
#loginForm{

  display: inline-flex;
  width: 100%;
}
.loginInput{
  height: 8%;
  display: block;
  width: 100%;
  margin-top: 1%;
}
.login_Container{
  width: 100%;
  height: 100%;
  background-image: url('/images/loginBackImage1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
label{
  color: #444444;
  margin-top: 2%;
}
input{
  margin-bottom: 2%;
}
#mainWelcom{
  height: 30%;
  font-size: 40px;
  padding-left: 20%;
  margin: 0;
  position: relative;
  top: 13%;
}
#subWelcom{
  font-size: 16px;
  color: gray;
  height: 10%;
    padding-left: 20%;
    margin-bottom: 10%;
    margin: 0;
}
#bottomText{
  color: gray;
  position: absolute;
  top: 80%;
  height: 10%;
  width: 45%;
  text-align: center;
  font-size: 13px;
}
@media all and (orientation:portrait){
  #loginContentDiv{
    width: 40%;
    padding-left: 20%;
  }
  #loginButtonDiv{
    width: 20%;
  }

  #loginTitle{
    margin-top: 10%;
  }
  #loginFooter{
    position: fixed;
    top: 85%;
  }
  #loginDiv{
  width: 80%;
  height: 60%;
  margin-left: 10%;
  }
  #loginContentDiv{
    width: 60%;
    padding-left: 20%;
  }
  #loginButtonDiv{
    width: 60%;
    padding-left: 20%;
  }
  #loginButton{
    margin-top: 8%;
    width: 60%;
  }
  #bottomText{
    top: 70%;
    height: 10%;
    width: 80%;
    text-align: center;
  }
}
@media screen and (min-width:750px) and (max-width:1080px){

  #mainWelcom{
    font-size: 50px;
  }
  #subWelcom{
    font-size: 15px;
  }
  #bottomText{
    font-size: 12px;
  }
}
@media screen and (min-width:1081px) and (max-width:1600px){
#mainWelcom{
  font-size: 70px;
}
#subWelcom{
  font-size: 20px;
}
#bottomText{
  font-size: 15px;
}
}
@media screen and (min-width:1601px) and (max-width:1920px){
  #mainWelcom{
    font-size: 90px;
  }
  #subWelcom{
    font-size: 30px;
  }
  #bottomText{
    font-size: 20px;
  }
}

@media screen and (min-width:1921px) and (max-width:2560px){
  #mainWelcom{
    font-size: 110px;
  }
  #subWelcom{
    font-size: 40px;
  }
  #bottomText{
    font-size: 30px;
  }
}
@media screen and (min-width:2561px){
  #mainWelcom{
    font-size: 140px;
  }
  #subWelcom{
    font-size: 50px;
  }
}
