html,body{
  margin: 0 auto;
  overflow-x: hidden;
}
.header{
  width: 100%;
  height: 100%;
}
.introduce{
  width: 100%;
  height: 65%;
  background-image: url("/images/apply10.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

 .act_Container{
  display:none;
}
.introduce_Container{
 display:none;
}
.apply_Container{
 display:none;
}
.notice_Container{
display:none;
}
::-webkit-scrollbar {
display: none;
}
.mente{
  height: 30%;
  display: table;
  font-size: 30px;
}
.logo{
  height: 70%;
  display: table;
}
.button{
  margin-top: 2%;
  height: 27%;
  text-align: center;
  color: white;
  background-color:blue;
  display: table;
}
#mente{
  display:table-cell;
  vertical-align: middle;
  font-size:30px;
}
#button1:hover{
cursor: pointer;
background-color: black;
opacity: 0.7;
}
#button2:hover{
cursor: pointer;
background-color: black;
opacity: 0.7;
}
#button3:hover{
cursor: pointer;
background-color: black;
opacity: 0.7;
}
#button4:hover{
cursor: pointer;
background-color: black;
opacity: 0.7;
}
#button1{
  background-color:#0071a6;
}
#button2{
  background-color:#008bcc;
}
#button3{
  background-color:#009ce6;
}
#button4{
  background-color:#5eb7f2;
}
.header_Text{
  display:table-cell;
  vertical-align:middle;
}

@media screen and (max-width:991px){
  .mente{
    height: 40%;
    display: table;
    font-size: 30px;
  }

  #logo{
    width: 25%;
    height: auto;
  }
  #mente{
    display:table-cell;
    vertical-align: middle;
    font-size:28px;
  }
}
@media screen and (max-width:767px){
  .button{
    height: 15%;
    width: 45%;
    position: relative;
    left: 5%;
    right: 5%;
  }
  #logo{
    width: 60%;
    height: auto;
  }
  #mente{
    font-size:25px;
  }
}


@media screen and (max-width:450px){
  .mente{
    height: 40%;
    display: table;
    font-size: 30px;
  }
  #logo{
    width: 50%;
    height: auto;
  }
  #mente{
    vertical-align: middle;
    font-size:22px;
  }
}

#first_area{
    width: 100%;
    height:12%;
    background-color: red;
}
#main_area{
  height : 88%;
}
table.board{
  margin-left: 15%;
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  width: 70%;
}
table.board thead td {
    vertical-align: top;
    color: white;
    background-color: #153238;
    text-align: center;
    padding: 7px;
}
table .board tbody{
  width : 90%;
  height : 300px;
  background-color : blue;
}
#first_td{
  width: 20%;
}
#second_td{
  width:60%;
}
#third_td{
  width: 20%;
}
#writeButton
{
  border-radius: 5px;
  font-size: 13px;
  font-family: "NanumBarunGothic";
  color: rgb(255, 255, 255);
  background-color: rgb(58, 74, 88);
  width: 10%;
  height:5%;
  margin-top:10%;
  left:80%;
  position: relative;
  z-index: 11;
}
