@font-face{
  font-family:'yungodic';
  src:url('/stylesheets/yungodic550.ttf') format('truetype');
}
html,body{
  font-family:'yungodic';
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
img {
   max-width: 100%;
}
.header{
  width: 100%;
  height: 100%;
}
.menu{
  color: black;
  width: 25%;
  font-size: 12px;
}
nav{
  width: 50%;
  float: right;
  margin-right: 5%;
  margin-top: 1.5%;
  display: inline-flex;
}
.menu:hover{
  cursor: pointer;
  color: gray;
}
#mainPagePhoto{
  margin-top: 1%;
  text-align: center;
  width: 35%;
  margin-left: 32%;
}
#subActContent{
  margin-top: 1%;
  text-align: center;
}
.introduce{
  width: 100%;
  height: 67%;
  background-image: url("/images/main.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.notice_Container{
  display: none;
}
.act_Container{
  display:none;
}
.introduce_Container{
  display:none;
}
.apply_Container{
  display:none;
}
.writebtn_Container{
  display:none;
}
::-webkit-scrollbar {
  display: none;
}
.logo{
  position: absolute;
}
#logo{
  display: none;
}
#logoBig{
  display: none;
}
.button{
  height: 33%;
  color: white;
}

.header_Button{
  overflow:hidden;
}
#introButton:hover{
  cursor: pointer;
  background-color: black;
  opacity: 0.7;
}


#actButton:hover{
  cursor: pointer;
  background-color: black;
  opacity: 0.7;
}

#actButton{
  width: 31%;
  padding: 2%;
  background-color:#469fbb;
}
#introButton{
  width: 38%;
  padding: 2%;
  background-color:#5a95b1;
}
#noticeButtonM{
  display: none;
}
#supportButton{
  text-align: center;
  width: 31%;
  height: 33.065%;
  display: table;
  overflow: hidden;
}
#actImageM{
  display: none;
}
.supportImage{
  width: 100%;
  height: 100%;
  background-image: url('/images/applyImage.png');
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.0;
  vertical-align: middle;
  display:table-cell;
}

.applyWirteButton:hover {
  transform: scale(1.05);
  transition: all .4s;
  cursor: pointer;
}
#supportButton:hover{
    cursor: pointer;
    opacity: 0.9;
}
#writebtnButton{
  display: none;
}
#aboutOYR{
  font-size: 12px;
  margin-left: 5%;
}
#aboutOYR_content{
  display: table;
  margin-left: 5%;
  font-size: 7px;
}
.mainAct{
  margin-bottom: 0;
  font-size: 12px;
  margin-left: 5%;
}
#writebtn_Board{
  display: table;
  font-size: 12px;
  margin-left: 3%;
}
#subActContent{
  font-size: 7px;
}
#applyDate{
  font-size: 7px;
  margin-bottom: 2%;
}
.applyWirteButton{
  font-size: 10px;
  color: white;
  border-color: white;
  background: none;
  border-style: solid;
  padding: 3%;
  width: 50%;
}
.applyText{
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 2%;
}
.buttonMobile{
  display: none;
}
.moveTop:hover{
  cursor: pointer;
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
.moveTop {
  position: fixed;
  top: 85%;
  right: 5%;
  width: 4%;
  z-index: 1;
  display: none;
}
.logoClick:hover{
  cursor: pointer;
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
.supportForm{
  outline: none;
}

.actTitle{
  display: inline-flex;
  display: table;
  width: 100%;
  height: 8%;
  margin-top: 5%;
  margin-left: 5%;
}
#webServices{
  margin-top: 1%;
}
#allLogo{
  text-align: center;
  overflow: hidden;
  position: relative;
}
#allLogo ul{
  width:300%;
  transition:1s;
  margin: 0; /* To remove default bottom margin */
    padding: 0; /* To remove default left padding */
}
#allLogo div{float:left;width:33.33%;}
#allLogo input{display:none;}
#allLogo label{display:inline-block;vertical-align:middle;transition:0.3s;border-radius:50%;cursor:pointer;}
#allLogo .pos{
  text-align:center;
  position:absolute;
  top: 80%;
  left:0;
  width:100%;
  text-align:center;
}
#pos1:checked~ul{margin-left:0%;}
#pos2:checked~ul{margin-left:-100%;}
#pos3:checked~ul{margin-left:-200%;}
#pos1:checked~.pos>label:nth-child(1){background:#469fbb;}
#pos2:checked~.pos>label:nth-child(2){background:#469fbb;}
#pos3:checked~.pos>label:nth-child(3){background:#469fbb;}
#allLogo label{
  border: none;
  background-color: #aaaaaa;
  width: 15px;
  height: 15px;
}
.webLogo{
  text-align: center;
  padding: 3%;
  margin-bottom: 2%;
}
.webLogo2{
  margin-bottom: 2%;
}
.webLogo2 img{
  vertical-align: middle;
  padding: 3%;
}
.webLogo img{
  vertical-align: middle;
  padding: 2%;
}
footer{
  background-color: black;
  color: white;
  width: 100%;
  height: 20%;
  display: table;
  text-align: center;
}
.footerContent{
  display: table-cell;
  vertical-align: middle;
  padding: 2%;
}
.footerBigContent{
  font-size: 9px;
  margin-bottom: 1%;
}
.footerSamllContent{
  margin-bottom: 0;
  font-size: 7px;
}
.titleContent{
  font-size: 15px;
  width: 100%;
  margin-left: 1%;
}
#bar{
height: 100%;
}
#award{
  padding: 6%;
}
table{
  border-spacing: 20px;
   border-collapse: separate;
}
.year{
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  width: 15%;
  font-size: 13px;
  border-right: solid;
  border-color: #cecfd1;
}
.awardContent{
  position: relative;
    left: 3%;
    font-size: 8px;
  color: gray;
  vertical-align: top;
  width: 60%;
}
#applyTop{
  margin-bottom: 2%;
  width: 100%;
}
#applyImageM{
  display: none;
}
#images{
  width: 25%;
}
#tableImageM{
  display: none;
}
#actImageM{
  display: none;
}
#applyButton{
  margin-bottom: 5%;
  background-color: #5a95b1;
  border-color: #5a95b1;
  height: 50px;
}
@media all and (orientation:portrait){
  nav{
    display: none;
  }
  #actImage{
    display: none;
  }
  #applyImage{
    display: none;
  }
  #actImageM{
    display: block;
  }
  #applyImageM{
    display: block;
  }
  .actTitle{
    height: 5%;
  }
  .titleContent{
    margin-left: 2%;
  }
  .tableImg{
    display: none;
  }
  #tableImageM{
    display: block;
  }
  .awardContent{
    width: 70%;
  }
  .introduce{
    height: 65%;
    text-align: center;
    background-image: url("/images/mainMobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .button{
    height: 17.5%;
  }
  #actButton{
    width: 50%;
  }

  .buttonMobile{
    display: block;
    display:table-cell;
    vertical-align:middle;
    font-size: 18px;
  }
  #aboutOYR{
    margin-left: 7%;
  }
  #aboutOYR_content{
    margin-left: 7%;
  }
  .mainAct{
    font-size: 12px;
    margin-left: 5%;
  }
  #writebtn_Board{
    display: none;
  }
  #noticeButtonM{
    text-align: center;
    display: block;
    display: table;
    width: 50%;
    background-color:#508bc5;
  }
.applyWirteButton{
  display: none;
}
  #introButton{
    width: 50%;

  }
  #supportButton{
    width: 50%;
    height: 17.5%;
  }
  #writebtnButtonM{
    display: table;
    text-align: center;
    padding: 0%;
    width: 50%;
  }
  footer{
    height: 15%;
  }
  #moveTopDiv{
    display: none;
  }
}

@media screen and (min-width:750px) and (max-width:1080px){
  #aboutOYR{
    font-size: 20px;
  }
  #aboutOYR_content{
    font-size: 12px;
  }
  #writebtn_Board{
    font-size: 21px;
  }
  .mainAct{
    font-size: 20px;
  }
  #subActContent{
    font-size: 12px;
  }
  .applyText{
    font-size: 18px;
  }
  .titleContent{
    font-size: 20px;
  }
  .buttonMobile{
    font-size: 28px;
  }
  .menu{
    font-size: 16px;
  }
  #logoM{
    display: none;
  }
  #logo{
    display: block;
  }
  #logoBig{
    display: none;
  }
  .footerBigContent{
    font-size: 16px;
  }
  .footerSamllContent{
    font-size: 10px;
  }
  .year{
    font-size: 19px;
  }
  .awardContent{
      font-size: 12px;
  }
}
@media screen and (min-width:1081px) and (max-width:1600px){
  #aboutOYR{
    font-size: 23px;
  }
  #aboutOYR_content{
    font-size: 14px;
  }
  #writebtn_Board{
    font-size: 23px;
  }
  .mainAct{
    font-size: 23px;
  }
  #subActContent{
    font-size: 15px;
  }
  .applyText{
    font-size: 21px;
  }
  #applyDate{
    font-size: 15px;
  }
  .applyWirteButton{
    font-size: 16px;
  }
  .titleContent{
    font-size: 23px;
  }
  .buttonMobile{
    font-size: 32px;
  }
  .menu{
    font-size: 16px;
  }
  #logoM{
    display: none;
  }
  #logo{
    display: block;
  }
  #logoBig{
    display: none;
  }
  .footerBigContent{
    font-size: 20px;
    margin-bottom: 1%;
  }
  .footerSamllContent{
    margin-bottom: 0;
    font-size: 13px;
  }
  .year{
    font-size: 22px;
  }
  .awardContent{
      font-size: 16px;
  }
}
@media screen and (min-width:1601px) and (max-width:1920px){
  #aboutOYR{
    font-size: 27px;
  }
  #aboutOYR_content{
    font-size: 22px;
  }
  #writebtn_Board{
    font-size: 27px;
  }
  .mainAct{
    font-size: 27px;
  }
  #subActContent{
    font-size: 22px;
  }
  .applyText{
    font-size: 30px;
  }
  #applyDate{
    font-size: 18px;
  }
  .applyWirteButton{
    font-size: 22px;
  }
  .titleContent{
    font-size: 27px;
  }
  .buttonMobile{
    font-size: 50px;
  }
  .menu{
    font-size: 18px;
  }
  #logoM{
    display: none;
  }
  #logo{
    display: none;
  }
  #logoBig{
    display: block;
  }
  .footerBigContent{
    font-size: 23px;
  }
  .footerSamllContent{
    font-size: 18px;
  }
  .year{
    font-size: 25px;
  }
  .awardContent{
      font-size: 19px;
  }
  #allLogo label{
    width: 17px;
    height: 17px;
  }
}

@media screen and (min-width:1921px) and (max-width:2560px){
  #aboutOYR{
    font-size: 35px;
  }
  #aboutOYR_content{
    font-size: 28px;
  }
  #writebtn_Board{
    font-size: 35px;
  }
  .mainAct{
    font-size: 35px;
  }
  #subActContent{
    font-size: 28px;
  }
  .applyText{
    font-size: 37px;
  }
  #applyDate{
    font-size: 25px;
  }
  .titleContent{
    font-size: 35px;
  }
  .applyWirteButton{
    font-size: 30px;
  }
  .menu{
    font-size: 23px;
  }
  #logoM{
    display: none;
  }
  #logo{
    display: none;
  }
  #logoBig{
    display: block;
  }
  .footerBigContent{
    font-size: 30px;
  }
  .footerSamllContent{
    font-size: 24px;
  }
  .year{
    font-size: 32px;
  }
  .awardContent{
      font-size: 25px;
  }
  #allLogo label{
    width: 22px;
    height: 22px;
  }
}
@media screen and (min-width:2561px){
  #aboutOYR{
    font-size: 50px;
  }
  #aboutOYR_content{
    font-size: 40px;
  }
  #writebtn_Board{
    font-size: 50px;
  }
.mainAct{
    font-size: 50px;
  }
  #subActContent{
    font-size: 40px;
  }
  .applyText{
    font-size: 55px;
  }
  #applyDate{
    font-size: 30px;
  }
  .applyWirteButton{
    font-size: 40px;
  }
  .titleContent{
    font-size: 50px;
  }
  .menu{
    font-size: 26px;
  }
  #logoM{
    display: none;
  }
  #logo{
    display: none;
  }
  #logoBig{
    display: block;
  }

  .footerBigContent{
    font-size: 42px;
  }
  .footerSamllContent{
    font-size: 36px;
  }
  .year{
    font-size: 46px;
  }
  .awardContent{
      font-size: 38px;
  }
  #allLogo label{
    width: 24px;
    height: 24px;
  }
}
