.webServiceModal_Content {
  background-color: #fefefe;
  margin: auto;
  padding: 1%;
  border: 1px solid #888;
  width: 60%;
  border-radius: 10px;
}
.verticalHelp {
  display:table;
  height: 100%;
  width: 100%;
}
.vertiArrange{
  display: table-cell;
  vertical-align: middle;
}
.webServiceModal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}
.webServiceClose {
  color: #aaaaaa;
  margin-left: 95%;
  font-size: 20px;
  font-weight: bold;
}

.webServiceClose:hover,
.webServiceClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.webTop{
  text-align: center;
}
.webTitle{
  color: #469fbb;
  font-size: 30px;
  margin-top: -1%;
  margin-bottom: 5%;
}
.webImage{
}
.left{
  float: left;
  position: absolute;
  top: 43%;
  left: 12%;
}
.right{
  float: right;
  position: absolute;
  left: 84%;
  top: 43%;
}
.firstImage{
  margin-left: 6%;
}
.left:hover, .right:hover{
  cursor: pointer;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.mainService{
  font-size: 15px;
  color: #444444;
  margin-bottom: 0;
}
.subService{
  font-size: 13px;
  margin-left: 10%;
  width: 80%;
  text-align: center;
  margin-top: 2%;
  padding:5%;
  color: #727272;
}

#webServices{
  margin-top: 1%;
}
#allLogo{
  text-align: center;
  overflow: hidden;
  position: relative;
}
#allLogo ul{
  width:300%;
  transition:1s;
  margin: 0; /* To remove default bottom margin */
  padding: 0; /* To remove default left padding */
}
#allLogo div{float:left;width:33.33%;}
#allLogo input{display:none;}
#allLogo label{display:inline-block;vertical-align:middle;transition:0.3s;border-radius:50%;cursor:pointer;}
#allLogo .pos{
  text-align:center;
  position:absolute;
  top: 80%;
  left:0;
  width:100%;
  text-align:center;
}
#pos1:checked~ul{margin-left:0%;}
#pos2:checked~ul{margin-left:-100%;}
#pos3:checked~ul{margin-left:-200%;}
#pos1:checked~.pos>label:nth-child(1){background:#469fbb;}
#pos2:checked~.pos>label:nth-child(2){background:#469fbb;}
#pos3:checked~.pos>label:nth-child(3){background:#469fbb;}
#allLogo label{
  border: none;
  background-color: #aaaaaa;
  width: 15px;
  height: 15px;
}
.webLogo{
  text-align: center;
  padding: 3%;
  margin-bottom: 2%;
}
.webLogo2{
  margin-bottom: 2%;
}
.webLogo2 img{
  vertical-align: middle;
  padding: 3%;
}
.webLogo img{
  vertical-align: middle;
  padding: 2%;
}
@media all and (orientation:portrait){

  .webServiceModal_Content {
    width: 80%;
  }
  .webServiceClose {
    margin-left: 90%;
  }
  .left{
    left: 3%;
    top:46%;
  }
  .right{
    left: 93%;
    top:46%;
  }
}

@media screen and (min-width:750px){
  .mainService{
    font-size: 20px;
  }
  .webTitle{
    font-size: 36px;
  }
  .subService{
    font-size: 16px;
  }
  .webServiceClose {
    font-size: 28px;
  }
}
